---
 const personalImageAlt = "Maximiliano Baruk"
---

<article class=" max-w-xl flex flex-col-reverse gap-y-10 gap-x-12  my-0 mx-auto items-center justify-center  dark:text-gray-300
md:flex-row md:max-w-4xl   ">
  <div
    class="text-letrasChica [&>p]:text-justify [&>p]:mb-4 dark:[&>p>strong]:text-amarillo [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty  "
  >
  <p>
    Me llamo Maximiliano Baruk y desde 2023 he estado <strong>explorando la programación web</strong> de manera autodidacta, enfocándome en <strong>JavaScript</strong>, <strong>HTML</strong>, <strong>CSS</strong>, <strong>Astro</strong> y <strong>Tailwind</strong>, con cursos en Domestika, Udemy y YouTube.
  </p>
  
  <p>
    Actualmente, estoy <strong>finalizando mi formación como Ingeniero en Mecatrónica</strong>, donde he desarrollado habilidades en <strong>programación de microcontroladores</strong> como Raspberry Pi y ESP32, <strong>soluciones IoT</strong> y participado en diferentes congresos y concursos como el <strong>Innova <em>TecNM</em></strong> y el <strong>Congreso Nacional de Mecatrónica-<em>AMM</em></strong> y diferentes competencias como la <strong><em>World Champions Mate Rov Competetition <em></strong  >
  </p>
  
  <p>
    Mi objetivo es <strong>fusionar mis conocimientos en ingeniería mecatrónica con el desarrollo web</strong> para crear <strong>soluciones innovadoras</strong> que contribuyan al avance tecnológico y mejoren la calidad de vida.
  </p>
  
  </div>


  <img width="400" height="400"  src="public/imagenMaxi.jpeg"  alt={personalImageAlt} class=" order-1 object-cover w-40  md:w-9/12 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-full aspect-square rounded-2xl " style="object-position: 50% 50%">

</article>
