

<a 
  href={Astro.props.href}
  target={Astro.props.href === "#/" ? "_self" : "_blank"}
  rel="noopener noreferrer"
  class="md:min-w-28 border border-bordeBtn rounded-full bg-fondoBtn text-titulos flex justify-center items-start
   gap-x-5 basis-1/4 py-2 px-4 transition hover:scale-105 hover:bg-gray-800 "
  onclick={Astro.props.onClick}
  style={Astro.props.style}
>
  <slot/>
</a>
